@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
$dark: #03212a;
$light: #ffffff;
$style: #258bd2;
$transition: all 0.1s ease-in-out;
$shadow: 0 2px 5px 0 #00000080;
body {
    background: #ffffff;
    main {
        min-width: 1440px;
        .close {
            width: 100%;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 500;
        }
        header {
            width: 100%;
            height: 50px;
            background: $dark;
            color: $light;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 50px;
            box-shadow: $shadow;
            .logo {
                display: flex;
                align-items: center;
                cursor: pointer;
                .sorting {
                    display: flex;
                    align-items: flex-end;
                    margin-right: 10px;
                    .line-1 {
                        width: 5px;
                        height: 10px;
                        background: #49aba1;
                        border-radius: 4px;
                    }
                    .line-2 {
                        width: 5px;
                        height: 15px;
                        background: #b949ff;
                        margin-left: 2px;
                        border-radius: 4px;
                    }
                    .line-3 {
                        width: 5px;
                        height: 20px;
                        background: $style;
                        margin-left: 2px;
                        border-radius: 4px;
                    }
                }
                p {
                    font-size: 18px;
                }
            }
            .options {
                height: 100%;
                display: flex;
                align-items: center;
                height: 100%;
                .sorting {
                    height: 50px;
                    button {
                        padding: 15px;
                        height: 100%;
                        font-size: 14px;
                        font-weight: bold;
                        background: transparent;
                        border: none;
                        outline: none;
                        color: $light;
                        cursor: pointer;
                        transition: $transition;
                        &:hover {
                            background: $style;
                        }
                    }
                    #check {
                        background: $light;
                        color: $dark;
                        &:hover{
                            background: $style;
                            color: $light;
                        }
                    }
                }
                .sort {
                    button {
                        padding: 0 15px;
                        height: 50px;
                        border: none;
                        outline: none;
                        font-size: 16px;
                        background: #b949ff;
                        color: $light;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        svg {
                            width: 25px;
                            margin-right: 10px;
                        }
                        &:hover {
                            background: #9b3dd5;
                        }
                    }
                }
            }
        }
        .sorting-area {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            min-height: 680px;
            .bar {
                width: 4px;
                background: $style;
                margin: 0 1px;
            }
        }
        footer {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            p {
                font-size: 16px;
                a {
                    color: $style;
                    text-decoration: none;
                }
            }
        }
    }
}